@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "DustHome";
  src: url("../assets/font/DustHomeMedium.ttf");
}

@font-face {
  font-family: "Signature";
  src: url("../assets/font/SignaturexDemoRegular.ttf");
}
