$color-primary: #fafafa;
$color-alternative: #2e2e2e;
$color-contrast: #ffcc29;
$font-family: Montserrat;
$font-alternative: DustHome;
$font-sign: Signature;

// responsive

$tablet: 1130px;
$mobile: 593px;
